<?php

define("TITLE", "Backup Tape Library");
define("TIMEZONE","UTC");
define("MYSQL_HOST", "localhost");
define("MYSQL_DATABASE","");
define("MYSQL_USER", "");
define("MYSQL_PASSWORD", "");
define("MYSQL_PORT",3306);
define("MYSQL_SSL",false);

define("LDAP_HOST","");
define("LDAP_BASE_DN","");
define("LDAP_BIND_USER","");
define("LDAP_BIND_PASS","");
define("LDAP_SSL",false);
define("LDAP_TLS",false);
define("LDAP_PORT",389);
define("LDAP_PEOPLE_OU","");
define("LDAP_ADMIN_GROUP","");

define("SESSION_TIMEOUT",14400);
define("SESSION_NAME","tapelibrary");

?>
